In [17]:
# Imports
import numpy
import pandas as pd

In [18]:
# extracting training data and removing rows having Nans
training = pd.read_csv('ml2_train.csv',usecols=[8,9,10,11,12,13,14])
training  = training.dropna()

In [ ]:
test = pd.read_csv('m12_test.csv',usecols=[8,9,10])

In [19]:
#Extracting input and output values from data
training_data = training
training_data.shape
X = training_data.iloc[:,0:6]   
Y = training_data.iloc[:,6]
Y.head()

0     37564
1    106177
2    145054
3     85996
4     81706
Name: 2016 Deposits, dtype: int64

In [20]:
X.head()

,2010 Deposits,2011 Deposits,2012 Deposits,2013 Deposits,2014 Deposits,2015 Deposits
0,21386.0,23981.0,24825.0,26908.0,30681.0,30680.0
1,55454.0,56564.0,64732.0,73523.0,81357.0,89270.0
2,90882.0,104300.0,125038.0,125906.0,132501.0,137363.0
3,45674.0,49288.0,53251.0,70402.0,74742.0,73837.0
4,64181.0,72217.0,69920.0,80703.0,75971.0,73225.0

In [21]:
from sklearn import preprocessing

x = X.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
X = pd.DataFrame(x_scaled)
X.head()

          0         1         2         3         4         5
0  0.000139  0.000123  0.000120  0.000120  0.000127  0.000117
1  0.000361  0.000291  0.000312  0.000329  0.000337  0.000342
2  0.000592  0.000537  0.000603  0.000564  0.000549  0.000526
3  0.000297  0.000254  0.000257  0.000315  0.000309  0.000283
4  0.000418  0.000372  0.000337  0.000361  0.000315  0.000280

In [22]:
y = Y.values #returns a numpy array
y = y.reshape(y.shape[0],1)
min_max_scaler = preprocessing.MinMaxScaler()
y_scaled = min_max_scaler.fit_transform(y)
Y = pd.DataFrame(y_scaled)
Y.head()

/Users/manojkumar/miniconda2/lib/python2.7/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

          0
0  0.000120
1  0.000338
2  0.000462
3  0.000274
4  0.000260

In [23]:
#Pandas to numpy arrays
X = X.values
print X.shape
Y = Y.values
print Y.shape

(3050, 6)
(3050, 1)

In [28]:
from sklearn.linear_model import Ridge
clf = Ridge(alpha=1.0)
clf.fit(X, Y)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)